###############################################################################
# Build / temporary output
###############################################################################
Temp/

###############################################################################
# Object / binary files
###############################################################################
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.d
*.lst
*.su