###############################################################################
# Build / temporary output
###############################################################################
01_Build_System/Temp/

###############################################################################
# Object / binary files
###############################################################################
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.d
*.lst
*.su
*.codex
